<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="uk.ac.cardiff" level="TRACE"/>
    <logger name="hsqldb" level="INFO"/>
     <logger name="org.hibernate" level="INFO"/>
     <logger name="qpid.message" level="INFO"/>
      <logger name="org.apache" level="INFO"/>
  <logger name="org.springframework.transaction" level="DEBUG"/> 
  <logger name="org.springframework" level="INFO"/> 
   <logger name="com.unboundid" level="DEBUG"/> 
</configuration>